[Unit]
Description=Ethiostats
After=network.target

[Service]
Environment="LUCKY_ENV=production"
Environment="APP_DOMAIN=ethiostats.mikias.net"
Environment="PATH=/home/itsmikias/.libs/crystal/bin:/bin:/usr/bin"
Environment="SECRET_KEY_BASE=Gzm6A80+5ZGYcdyopLKQSbc3rd03zif5QLFVoRYZ+J4="
User=itsmikias
WorkingDirectory=/home/itsmikias/ethiostats
ExecStart=/home/itsmikias/ethiostats/app
Restart=on-failure

[Install]
WantedBy=default.target