@import "normalize.css";

/* Uncomment these when you add files to variables, mixins or components */

@import "variables/**.pcss";
@import "mixins/**.pcss";
@import "components/**.pcss";
/* For example, add `static/css/components/btn.pcss` and uncomment the next line */

html, body {
  height: 100%;
  margin: 0;
  font-family: Dosis, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}
body {
  background: var(--primary);
}
* {
  box-sizing: border-box;
}
#content-wrapper {
  min-height: 95%;
  @media (--xs) {
    padding: 15px;
  }
  @media (--gt-xs) {
    padding: 15px 30px;
  }
  padding-bottom: 100px;
}

/*GLOBAL*/
a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
}
h1, h2, h3, h4, h5 {
  color: white;
}

/*HEADER*/
.nav {
  width: 100%;
  background: white;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  @media (--xs) {
    flex-flow: column;
  }
  .brand {
    letter-spacing: 3px;
    margin-right: auto;
    text-align: center;
    line-height: 48px;
    padding: 0 10px;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--primary);
    opacity: 0.8;
    @media (--xs) {
      padding: 0;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: var(--primary);
      }
    }
  }
}

/*FOOTER*/
footer.footer {
  padding: 25px;
  background: white;
  text-align: right;
  color: var(--grey7);
  a {
    color: var(--primary);
  };
}

.homepage-wrapper {
  max-width: 1120px;
  margin: auto;
  h1, h2 {
    text-align: center;
  }
}

/*Autocomplete*/
input.search-hscodes-autocomplete {
  width: 100%;
  padding: 6px 15px;
  font-family: Dosis, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--grey7);
  &:focus {
    color: var(--primary);
  }
  border: 1px solid var(--grey7);
  border-radius: 3px;
}
.autocomplete-search-hscodes {
  cursor: pointer;
  .code {
    display: inline-block;
    width: 90px;
  }
  b {
    color: var(--primary);
  }
}
.autocomplete-suggestion {
  line-height: 28px;
}

/*CHARTS*/
#homepage-chart, #hscode-chart {
  .c3-axis-y-label {
    font-size: 16px;
    font-weight: bold;
    fill: white;
  }
  .c3-line-Imports, .c3-line-Exports {
    stroke-width: 10px;
  }
}
.c3 line, .c3 path, g.tick line {
  stroke: white !important;
}
.c3-tooltip-container {
  color: black;
}
.c3-legend-item {
  fill: white;
}
.c3-axis, .c3-axis-y {
  fill: white;
  @media (--gt-xs) {
    font-weight: bold;
    font-size: 13px;
  }
}
/*
.c3-region.c3-region-lt2007 {
  fill: yellow;
}
.c3-region.c3-region-gte2007 {
  fill: white;
}
*/

/*HSCODES*/
.hscodes-wrapper {
  .hscodes-row-1, .hscodes-row-2, .hscodes-row-3 {
    display: flex;
  }
  .hscodes-row-1 {
    @media (--lt-md) {
      flex-flow: column;
    }
    .hscodes-code {
      padding-right: 15px;
      flex: 1;
      font-size: 24px;
    }
    .hscodes-rates {
      flex: 1;
      h2 {
        text-align: center;
      }
      .rates {
        flex: 1;
        display: flex;
        @media (--xs) {
          flex-flow: row wrap;
        }
        @media (--gt-xs) {
          flex-flow: row;
        }
        div {
          flex: 1;
          text-align: center;
          font-weight: bold;
          padding: 15px;
          font-size: 15px;
          background: #ffffff14;
          span {
            margin-top: 15px;
            display: block;
          }
        }
      }
    }
  }
  .hscodes-row-2 {
    @media (--xs) {
      flex-flow: column;
    }
    .hscodes-chart {
      flex: 1;
    }
  }
  .hscodes-related {
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
    }
  }
  .hscodes-row-3 {
    display: flex;
    @media (--xs) {
      flex-flow: column;
    }
    .imports-table, .exports-table {
      flex: 1;
      table {
        width: 100%;
        th {
          text-align: left;
        }
      }
    }
  }
}
